---
import Section from "./Section.astro";
---

<Section
  title="Accesorios"
  subtitle=""
  color="black"
  id="accesorios"
  showFooterContent="true"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="w-[264px] h-[40px] bg-[#F4F4F4] leading-8 text-sm rounded font-medium text-[#393C41] px-6 py-1 inline-block"
      href="#"
    >
      Comprar ahora</a
    >
    <!-- <a
      class="bg-white text-sm rounded font-medium px-6 py-1 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Saber más</a
    > -->
  </div>

  <img
    slot="background"
    alt="Accesorios"
    class="h-full w-full object-cover object-center"
    src="accessories.avif"
    id="bg-image-accessories"
  />
</Section>