---
import Section from "./Section.astro";
---

<Section
  title="Model X"
  subtitle="Programe una consulta virtual"
  color="black"
  id="model-x"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="w-[264px] h-[40px] leading-8 text-sm bg-[#171A20BF] rounded font-medium text-white px-6 py-1 inline-block backdrop-blur-[2px]"
      href="#"
    >
      Pedido personalizado</a
    >
    <a
      class="w-[264px] h-[40px] bg-[#F4F4F4A6] text-[#393C41] text-sm rounded font-medium px-6 py-1 transition-colors inline-flex justify-center items-center"
      href="#"
    >
      Saber más</a
    >
  </div>

  <img
    slot="background"
    alt="Model X"
    class="h-full w-full object-cover object-center bg-center"
    src="model-x.avif"
    id="bg-image-modelx"
  />
</Section>